*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Primary colors*/
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral colors*/
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
}
body *{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8125rem;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    color: var(--white);
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 7vh;
}

.testimonials{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}
.testimonial__header{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.testimonial__author-avatar{
    width: 30px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
}
.testimonial__author-info{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.testimonial__author-title{
    opacity: 0.5;
    font-size: 0.7rem;
}
.testimonial__title{
    font-weight: 600;
    font-size: 1.2rem;
}
.testimonial__paragraph{
    opacity: 0.5;
}

.card{
    border-radius: 0.6em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
}
.card--purple{
    background: 
        var(--moderate-violet) 
        url("./images/bg-pattern-quotation.svg") no-repeat;
    background-position: right 15% top;
}
.card--gray{
    background: var(--very-dark-grayish-blue);
}
.card--white{
    background: var(--white);
}
.card--white *{
    color: var(--very-dark-grayish-blue);
}
.card--black{
    background: var(--very-dark-blackish-blue);
}
.card--shadowed{
    box-shadow: 1em 1em 3em rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1140px){
    .testimonial--daniel{
        grid-area: daniel;
    }
    .testimonial--jonathan{
        grid-area: jonathan;
    }
    .testimonial--jeanette{
        grid-area: jeanette;
    }
    .testimonial--patrick{
        grid-area: patrick;
    }
    .testimonial--kira{
        grid-area: kira;
    }
    .testimonials{
        width: 70%;
        display: grid;
        grid-template-areas: 
            "daniel daniel jonathan kira"
            "jeanette patrick patrick kira";

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em;
    }
}